@import "tailwindcss";

:root {
  --primary: #3b82f6;
}

body {
  font-family: "Inter", sans-serif;
}

.clip-shape {
  clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0% 100%);
}

* {
  transition: background 0.2s ease, color 0.2s ease;
}